# Python is one of popular interpreted programming language in the world
* Not compiler

In [ ]:
print('Hi, Welcome to python session')

In [ ]:
print("Hi, Welcome to python session")

In [ ]:
print('''This is String for multi lines
where you can write 
more than one lines using single comma three times''')

In [ ]:
print("""This is String for multi lines
where you can write 
more than one lines using single comma three times""")

In [ ]:
# But remember this is also use for multiple lines comment as well as for one line
'''Multiple lines
commnets
here...'''
"""Multple lines
comments
here!"""

# Python Data Types
* Immutable : In which you cannot change data after the declaration
    * Numbers
    * Stings
    * Tuples
* Mutable : In which you can change data after the declaration
    * List
    * Dictionaries
    * Sets

# What is function
    * Function is the block of code to do some specific work like add two number etc
* Internal Function(Provided by python)
* External Function

* Internal Function
    * int()
    * string()
    * upper()
    * isalpha(),...etc

# Datatypes in Python
* Immutable means: (cannnot change after declaration..)
* Number(integer, float/double, complex)

In [ ]:
a = 2
print("Memory Address of a is: {}".format(id(a)))

a = 3 #(Index number changing)
print("Memory Address of a is: {}".format(id(a))) # memory address change

# # Number

In [ ]:
a = 1;
print(a)
b = 2.52;
print(b)
c = 2+5j;
print(c)

# #String

In [ ]:
s1 = 'Aakash'
s2 = "Singh"
# Cont
print(s1 + s2) # + sign use for concatination

In [ ]:
# Rep
print(s1*3) # repeat

In [ ]:
#slice
print(s1[0:4]) # exclude 4

In [ ]:
# index
print(s1[-1:]+s1[1])

In [ ]:
# find
print(s1.find('h')) # Give index

In [ ]:
# replace
print(s1.replace('h','z')) # Replace h with z(Return a copy with all occurrences of substring old replaced by new.)

In [ ]:
# split
print(s1.split(',')) # Inclose in single quot

In [ ]:
# Count
print(s1.count('a',0,4)) # upto 4

In [ ]:
# upper
print(s1.upper()) # Upper case(Captilize)

In [ ]:
# max
print(max(s1)) # Last in alpha

In [ ]:
print(min(s1)) # First in alphabetical

In [ ]:
# isalpha
print(s1.isalpha())

# Space left, Right, or Both Side

In [ ]:
s2 = " Aakash"
s3 = 'Singh '
s4 = " Kumar "
print(s2)

In [ ]:
print(s2)
print(s2.lstrip()) # Left space remove

In [ ]:
print(s3)
print(s3.rsplit()) # Right Space remove

In [ ]:
print(s4)
print(s4.strip()) # Both Side space remove

# Tuples

In [ ]:
tup = (1,1.25,3j,'a',"ABC") # small bracket
print(tup)

In [ ]:
tup1 = (1, 1.25, 3j, 'a', "ABC", (1,2,3,4,"asdf")) # Nested tuple
print(tup1)

In [ ]:
print(tup + (11,11)) # concatenation

In [ ]:
print(tup*2) # repetion property

In [ ]:
print(tup[1:2]) # Slice (2 excluded)

In [ ]:
print(tup[2:2]) # Slice (2 excluded)

In [ ]:
print(tup[0])

In [ ]:
tup[0] = 4

# Datatypes in Python
## Mutable means(Can change after declaration...)

# List, Dict, Set

In [ ]:
li = [1,1.25,'asdf','ss',5j] # Initialize using Squre bracket or (list key word)
print(li)
Dict = {1:"abc",2:"DBA",3:1235} # Initialize using {} (key,values pairs) or dict key word
print(Dict)
Set = {1,2,3,4,5} # Initialize using {} or set key words
print(Set)

# List

In [ ]:
listt = [1,1.25,"asdf",'ss',5j]
print(listt)

In [ ]:
listt[0] = "Asia" # change (mutable)
print(listt)

In [ ]:
print(listt)
print(listt + ["Aakash"]) # Contactinate

In [ ]:
print(listt)
print(listt*2) # Repeat 2 times

In [ ]:
print(listt)
print(listt[1:3]) # Slice

In [ ]:
print(listt)
print(listt[0])

In [ ]:
print(listt)
print(listt.append("Singh")) # add one value

In [ ]:
print(listt)

In [ ]:
print(listt.extend(["sss",'d','asd'])) # more than one value add

In [ ]:
print(listt)

In [ ]:
print(listt.insert(0,"Hdfc")) # Add values at specific position

In [ ]:
print(listt)

In [ ]:
print(listt.pop()) # remove last element

In [ ]:
print(listt)

In [ ]:
nested_list = [1,1.25,"asdf",'ss',5j,[1,2,3,4,"asdf"]]
print(nested_list)

# Dictionary

In [ ]:
Dict1 = {} # Initialize dictionary
Dict = {1:"Hdfc",2:"Life","Insurance":"Yes"} # Keys-values
print(Dict)

In [ ]:
print(Dict[1]) # Access key No 1

In [ ]:
print(len(Dict)) # length key Dict

In [ ]:
print(Dict.keys()) # print all keys

In [ ]:
print(Dict.values()) # print all values

In [ ]:
print(Dict.items()) # print all items

In [ ]:
print(Dict.get(1)) # using get method

In [ ]:
print(Dict.update({2:"Bank"})) # update values using key
print(Dict)

In [ ]:
print(Dict.pop(2)) # remove using keu

In [ ]:
print(Dict)

# Set

In [ ]:
s = {1,2,3,4,5,5,5,5} #repeatation not allowed 
print(s)

In [ ]:
S1 = {1,2,3}
S2 = {1,2,'b'}

In [ ]:
print(S1 | S2) # Union

In [ ]:
print(S1 & S2) # Intersection

In [ ]:
print(S1  - S2) # Minus

# If Else (Family) in Python

In [ ]:
# If Else used for Condition
a = 1
if (a>=1):
    print("The value of a is 1 or greater ",str(a))

In [ ]:
# If Else used for Condition
a = 1
if (a>=1):
    print("The value of a is 1 or greater ",str(a))
else:
    print("Else body of if!")

In [ ]:
# If Else used for Condition
a = 0
if (a>=1):
    print("The value of a is 1 or greater ",str(a))
else:
    print("Else body of if!")

In [ ]:
# Nested If - Else
a = 1
b = 2
if (a>=1):
    print("The  value of a is 1 or greater  "+str(a))
    if (b==2):
        print("Nested if!")
    else:
        print("Fist If Body")
else:
    print("First if else body")

In [ ]:
# if-else-if
a = 10
b = 20
c = 30
if(a>10):
    print("Greater")
elif(b>=20):
    print("20 Grater or equal")
elif(c>30):
    print("Greater")

In [ ]:
# if-else-if-else
a = 1
b = 2
c = 3
if(a>10):
    print("Greater")
elif(b>=20):
    print("20 Grater or equal")
elif(c>30):
    print("Greater")
else:
    print("Default")

# Loops(For,While),jump Statement in Python

## For Loop

In [ ]:
for a in range(10): # 10 excluded
    print(a)

In [ ]:
# Range
print(range(10))
list(range(10))

In [ ]:
for a in range(1,10,1):
    print(a)

In [ ]:
for a in range(1,10,2):
    print(a)

In [ ]:
# Even Number
for a in range(2,11,2):
    print(a)

In [ ]:
# Odd Number
for a in range(1,11,2):
    print(a)

In [ ]:
# Nested Loop
for a in range(1,11,2):
    print(a)
    for b in range(11,20,2): # Nested Loop
        print(b)

## While loop

In [ ]:
z = 0
while(z<=10):
    print(z)
    z+=1

In [ ]:
z = 0
while(z<=10):
    print(z)
    zz = 0
    while zz<=10:
        print(zz)
        zz+=1
    z+=1

## Jump
### Continue, break, pass

In [ ]:
for i in range(1,11):
    if i==1:
        pass # Steps Pass forward
    if i==5:
        continue # Skip 5 or ignore 5
    if i==8:
        break # Break loop
    print("This is iteration no. ",i)

In [ ]:
for i in range(1,11):
    if i==1:
        pass # Steps Pass forward
    print("This is iteration no. ",i)

In [ ]:
for i in range(1,11):
    if i==1:
        continue # Skip 5 or ignore 1
    print("This is iteration no. ",i)

In [ ]:
for i in range(1,11):
    if i==4:
        break # break loop when i==4
    print("This is iteration no. ",i)

# Python Operators (Arithmetic,Comparison and Assignment Operator)

## Arithematic Operation in Python

In [ ]:
a = 7
b = 3
print(a+b) # Add
print(a-b) # Subtract
print(a*b) # Multiply
print(a/b) # Divide
print(a%b) # mod
print(a**b) # power
print(a//b) # Flor division or round

## Comparison Operators

In [ ]:
a = 7
b = 3
print(a>b) # Greater
print(a<b) # Less
print(a>=b) # Greater or equal
print(a<=b) #  equal or less
print(a!=b) # Not equal
print(a==b) # equal

## Assignment Operators

In [ ]:
a = 1
print(a)
a+=2 # a = a + 2
print(a)

In [ ]:
a = 2
print(a)
a*=3 # a = a * 3
print(a)

In [ ]:
a = 2
print(a)
a-=3 # a = a - 3
print(a)

## Logical Operator in Python (and, or, not)

In [ ]:
a = True
b = False
print(a and b) # both true

In [ ]:
print(a or b) # Only one true

In [ ]:
print(not b)

In [ ]:
a = 2
b = 5
c = 50
if ((a)>=5 and b>=b) or (c>=49):
    print("True")
else:
    print("Not True")

## Membership Operator(in, not in)

In [ ]:
var = ['a',23,25.12,'Hdfc']
print('a' in var)

In [ ]:
print('b' not in var)

## Identity Operator (is, is not)

In [ ]:
x = 5
y = 5
z = 4
print(x is y)

In [ ]:
print(x is not y)

In [ ]:
print(x is not z)

# File Handling in Python

**File Handling**
* File Handling is an important part of any web application/Development
* Python has several functions for creating, reading, updating and deleting files

**File handling**
* The key function for working with files in  python is the open() function.
* The open() function takes two parameters; filename and mode

**There are four different methods (modes) for opening a file**
* "a" - Append - Open a file for appending, creates the file if it does not exist
* "w" - Write - Opens a file for writing, creates the file if it does not exist
* "r" - Read - Default value. opens a file for reading, error, if the file does not exist
* also, r+ both reading and writing

* "x" - Create - Creates the specified file, returns an error if the file exists
* In addition you can specify if the file should be handled as binary or text mode

* "t" - Text - Default value.Text mode
* "b" - binary - Binary mode (e.g. Images)

In [ ]:
ls

In [ ]:
# a ==> append file
f = open("file1.txt","a")
f.write("Now the file has more content67767!\n")
f.write("Now the file has more content234!\n")
f.write("Now the file has more contentqwer!\n")
f.write("Now the file has more contentasdf!\n")

f.close()

In [ ]:
# Open and read the file after the appeding
f = open('file2.txt','r') # file2 not exist
print(f.read())

In [ ]:
# Open and read the file after the appeding
f = open('file1.txt','r') # file1  exist
print(f.read())

In [ ]:
# Write on the file
f = open('file3.txt','w')
f.write("Woops! I deleted the content")
f.close()

In [ ]:
# open and read the file after the appending
f = open('file3.txt','r')
print(f.read())

In [ ]:
# "x" - Create - Creates the specified file, returns an error if the file exists
f = open('file3.txt','x')

In [ ]:
# "x" - Create - Creates the specified file, returns an error if the file exists
f = open('file4.txt','x')

In [ ]:
f = open('file1.txt','r')
print(f.read())

In [ ]:
f = open('file1.txt','r')
print(f.read(5))

In [ ]:
f = open('file1.txt','r')
print(f.readline())

In [ ]:
f = open('file1.txt','r')
print(f.readline())
print(f.readline())

In [ ]:
f = open('file1.txt','r')
for x in f:
    print(x)

In [ ]:
# It is good practics to close the file
f = open('file1.txt','r')
print(f.readline())
f.close()

In [ ]:
# to delete the file
import os
os.remove('file3.txt')

In [ ]:
# To delete the file using if else
import os
if os.path.exists('file4.txt'):
    os.remove('file4.txt')
else:
    print("The file does not exist")

In [ ]:
# create folder 
os.mkdir('my-folder')

In [ ]:
# To delete folder
import os
os.rmdir('my-folder')

# Python Function

**Function: Block of Code**
* For Specific work, write a block of code

In [ ]:
def Sum(): # Zero parameter/ without parameter
    a = 1 # created variable1
    b = 2 # created variable2
    print(a+b)

In [ ]:
Sum() # Function call

#### Function with parameter

In [ ]:
def sumpara(a,b):
    return(a+b)

In [ ]:
sumpara(5,5)

##### Function inside function

In [ ]:
def First():
    print("First")
    def Second():
        print("Second")
    Second()

In [ ]:
First()

# Print vs return in Python

In [ ]:
def printfunction(a):
    num = a*a
    print(num)

In [ ]:
printfunction(4)

In [ ]:
def returnfunction(a):
    num = a*a
    return num

In [ ]:
returnfunction(4)

In [ ]:
# Basic Differnce
p = printfunction(4) # only printing the value of and by default None value is retruning

In [ ]:
print(p) #by default None value is retruning

In [ ]:
r = returnfunction(4) # Only storing  value in p

In [ ]:
print(p)
type(p)

In [ ]:
type(r)

# Lambda Function

* A lambda function is a small anonymous function (anonymous means koi naam nahi hai)
* A lambda function can take any number of arguments
* but can only have one expression

In [ ]:
def sumoftwo(a):
    return a+a

In [ ]:
sumoftwo(2)

In [ ]:
x = lambda y: y+10
print(x(10))

In [ ]:
Square = lambda a: a*a
print(Square(10))

In [ ]:
multiply = lambda a,b : a*b
print(multiply(10,20))

In [ ]:
Sum = lambda a,b,c: a+b+c
print(Sum(1,2,3))

**Why Use lambda Function**
* The power of lambda is better shown when you use them as anonymous
* Function inside another function
* Say you have a function definition that one argument, and that argument 
* Will be multiplied with an unknown number

In [ ]:
def myfunc(n):
    return lambda a: a*n

In [ ]:
mydoubler = myfunc(3)

In [ ]:
print(mydoubler(4))

In [ ]:
def myfunc(n):
    return lambda a: a*n

In [ ]:
mydoubler = myfunc(3)
mytripler = myfunc(4)

In [ ]:
print(mydoubler(12))

In [ ]:
print(mytripler(12))